[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/libccd"]
	path = external/libccd
	url = https://github.com/danfis/libccd.git
[submodule "external/Musa.Runtime"]
	path = external/Musa.Runtime
	url = https://github.com/MiroKaku/Musa.Runtime.git
[submodule "external/Musa.Core"]
	path = external/Musa.Core
	url = https://github.com/MiroKaku/Musa.Core.git
[submodule "external/fcl-source"]
	path = external/fcl-source
	url = https://github.com/flexible-collision-library/fcl.git
